
# --------------------------------------------------------------------------
# general aliases
# --------------------------------------------------------------------------
alias bashrc='vi ~/.bashrc'
alias ipython='ipython -automagic -nobanner'
alias l.="ls -d .*"
alias ll="ls -l"
alias ll.="ls -ld .*"
alias mkdir='mkdir -p'
alias rmpyc='find ./ -name "*.pyc" | xargs rm'
alias sourc='. ~/.bash_profile'
alias vi='vim'
alias whatismyip='echo `curl -s http://whatismyip.org/`'


# --------------------------------------------------------------------------
# AMAZON S3 and EC2
# --------------------------------------------------------------------------
test -r "$HOME/amazon/s3/s3sync/s3sync.rb" && 
     alias s3='$HOME/amazon/s3/s3sync/s3cmd.rb'


# --------------------------------------------------------------------------
# GIT
# --------------------------------------------------------------------------
alias gb='git branch -a'
alias gba='git branch -a -v'


# --------------------------------------------------------------------------
# OSX
# --------------------------------------------------------------------------
if [ "$UNAME" = Darwin ]; then
    
    # JAVA
    alias eclipse='$HOME/dev/eclipse/home/current/Eclipse.app/Contents/MacOS/eclipse &> /dev/null'
    
    # MYSQL
    test -r "/Library/LaunchDaemons/com.mysql.mysqld.plist" &&
        alias mysqlstart='sudo launchctl start com.mysql.mysqld' &&
        alias mysqlstop='sudo launchctl stop com.mysql.mysqld'
    
    # TERMINAL COLORS
    alias blue='SetTerminalStyle Ocean'
    alias black='SetTerminalStyle black'
    alias default='SetTerminalStyle Default'
    alias djangoterm='SetTerminalStyle Django'
    alias green='SetTerminalStyle green'
    alias red='SetTerminalStyle Red\ Sands'
    alias white='SetTerminalStyle Basic'

    # RANDOM TERMINAL COLOR
    alias newcolor='osascript ~/bin/RandomColorTerminal.scpt'
    
    # UTILITIES
    alias bringalltofront='osascript $HOME/bin/bring-all-to-front'
fi


# --------------------------------------------------------------------------
# Development Utilities
# --------------------------------------------------------------------------
alias jsontool='python -m json.tool'
alias xmltool='python $HOME/bin/xmltool.py'
