
# --------------------------------------------------------------------------
# general aliases
# --------------------------------------------------------------------------
alias aliases='vi ~/.aliases && source ~/.aliases'
alias bashrc='vi ~/.bashrc && source ~/.bashrc'
alias ipython='ipython -automagic -nobanner'
alias l.="ls -d .*"
alias ll="ls -l"
alias ll.="ls -ld .*"
alias mkdir='mkdir -p'
alias rmpyc='find ./ -name "*.pyc" | xargs rm'
alias vi='vim'
alias whatismyip='echo `curl -s http://whatismyip.org/`'


# --------------------------------------------------------------------------
# AMAZON S3 and EC2
# --------------------------------------------------------------------------
test -r "$HOME/amazon/s3/s3sync/s3sync.rb" && 
     alias s3='$HOME/amazon/s3/s3sync/s3cmd.rb'


# --------------------------------------------------------------------------
# GIT
# --------------------------------------------------------------------------
alias ga='git add'
alias gb='git branch -a -v'
alias gco='git checkout'
alias gci='git commit'
alias gd='git diff'
alias gl='git l'
alias glo='git log'
alias gm='git merge'
alias gp='git pull'
alias gpp='git pull --rebase && git push'
alias gs='git status'


# --------------------------------------------------------------------------
# DJANGO ALIASES
# --------------------------------------------------------------------------
alias djm='manage.py'
alias djr='manage.py runserver'
alias djs='manage.py shell'
alias djt='manage.py test'

# --------------------------------------------------------------------------
# OSX
# --------------------------------------------------------------------------
if [ "$UNAME" = Darwin ]; then
    
    # JAVA
    alias eclipse='$HOME/dev/eclipse/home/current/Eclipse.app/Contents/MacOS/eclipse &> /dev/null'
    
    # MYSQL
    test -r "/Library/LaunchDaemons/com.mysql.mysqld.plist" &&
        alias mysqlstart='sudo launchctl start com.mysql.mysqld' &&
        alias mysqlstop='sudo launchctl stop com.mysql.mysqld'
    
    # TERMINAL COLORS
    alias blue='SetTerminalStyle Ocean'
    alias black='SetTerminalStyle black'
    alias default='SetTerminalStyle Default'
    alias djangoterm='SetTerminalStyle Django'
    alias green='SetTerminalStyle green'
    alias red='SetTerminalStyle Red\ Sands'
    alias white='SetTerminalStyle Basic'

    # RANDOM TERMINAL COLOR
    alias newcolor='osascript ~/bin/RandomColorTerminal.scpt'
    
    # UTILITIES
    alias bringalltofront='osascript $HOME/bin/bring-all-to-front'
fi


# --------------------------------------------------------------------------
# Development Utilities
# --------------------------------------------------------------------------
alias jsontool='python -m json.tool'
alias xmltool='python $HOME/bin/xmltool.py'
