[user]
	name = Andrew Watts
	email = andrewwatts@gmail.com

[core]
    pager = less -FRXS -x4
    whitespace=fix,-indent-with-non-tab,space-before-tab,trailing-space,cr-at-eol

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[alias]
    a = add
    ap = add -p
    ci = commit --verbose
    co = checkout
    commit = commit --verbose
    d = diff
    ds = diff --stat
    l = log --abbrev-commit --pretty=oneline
    lf = log --abbrev-commit --pretty=oneline --name-only
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    ll = log --abbrev-commit --pretty=oneline --max-count=20
    lm = log --abbrev-commit --pretty=oneline --committer=andrew
    lfm = log --abbrev-commit --pretty=oneline --name-only --commiter=andrew
    llm = log --abbrev-commit --pretty=oneline --max-count=20 --committer=andrew
    raw = show --pretty=raw 
    st = status
    ww = log --pretty=format:'%h %ad %s' --date=local
    wwv = log --pretty=format:'%h %ad %s (%an)' --date=iso

[instaweb]
    httpd = webrick
    port = 4321

[apply]
	whitespace = nowarn

[push]
	default = tracking

[diff]
#    external = "/Users/andrew/dev/shell/git-diff-driver.sh"
