# these allow you to use ctrl+left/right arrow keys
# to jump the cursor over words
"\e[5C": forward-word
"\e[5D": backward-word
 
# these allow you to start typing a command and 
# use the up/down arrow to auto complete from 
# commands in your history
"\e[B": history-search-forward
"\e[A": history-search-backward
